In [119]:
import numpy as np
import pandas as pd
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler
from sklearn.feature_selection import SelectKBest, chi2
from sklearn.preprocessing import LabelEncoder

Membaca data

In [120]:
df = pd.read_csv('featured_data.csv')
df.head()

,NO,NAMA,USIA,PARITAS,JARAK KELAHIRAN,RIW HIPERTENSI,RIW PE,OBESITAS,RIW DM,RIW HIPERTENSI/PE DALAM KELUARGA,PE/Non PE,RIW PENYAKIT,SOSEK RENDAH_>UMR
0,1,NAMA 1,23.0,3,0,0,0,0,1,0,0,0,True
1,2,NAMA 2,29.0,2,0,0,1,0,0,1,1,0,True
2,3,NAMA 3,20.0,1,0,0,0,0,0,0,0,0,True
3,4,NAMA 4,18.0,1,0,0,0,0,0,0,0,0,True
4,5,NAMA 5,34.0,3,0,0,0,0,0,0,0,0,True

In [121]:
X = df.drop(columns=['PE/Non PE'])
y = df['PE/Non PE']

In [122]:
X = df.drop(columns=['NAMA','NO'])

In [129]:

X = X.apply(LabelEncoder().fit_transform)
df['SOSEK RENDAH_>UMR'] = df['SOSEK RENDAH_>UMR'].replace({2: 1, 1: 0})

Melakukan feature

In [130]:
selector = SelectKBest(score_func=chi2, k=9)
X_new = selector.fit_transform(X, y)

In [131]:
selected_features = X.columns[selector.get_support()]
print("Selected Features:", selected_features)

Selected Features: Index(['USIA', 'RIW HIPERTENSI', 'RIW PE', 'OBESITAS', 'RIW DM',
       'RIW HIPERTENSI/PE DALAM KELUARGA', 'PE/Non PE', 'RIW PENYAKIT',
       'SOSEK RENDAH_>UMR'],
      dtype='object')

In [132]:
excluded_features = ['NAMA']

In [72]:
remaining_features = [feature for feature in X.columns if feature not in excluded_features]

In [74]:
if 'PARITAS' not in remaining_features:
    remaining_features.append('PARITAS')

In [82]:

    X_selected_df = pd.DataFrame(X[remaining_features])

membuat data frame baru dengan attribut terpilih

In [133]:
X_selected_df = pd.DataFrame(X_new, columns=selected_features)

untuk menyimpan menjadi file data baru

In [134]:
X_selected_df.to_csv('selected_features.csv', index=False)
print("Fitur terpilih telah disimpan ke selected_features.csv")

Fitur terpilih telah disimpan ke selected_features.csv